<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/common/header.html :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contact Health manager</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/board.css}">

    <link th:href="@{https://fonts.googleapis.com/css?family=Muli:300,400,700,900}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{fonts/icomoon/style.css}">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">

    <link rel="stylesheet" th:href="@{/css/jquery.fancybox.min.css}">

    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.css}">

    <link rel="stylesheet" th:href="@{/fonts/flaticon/font/flaticon.css}">

    <link rel="stylesheet" th:href="@{/css/aos.css}">
    <link th:href="@{css/jquery.mb.YTPlayer.min.css}" media="all" rel="stylesheet" type="text/css">

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<footer class="footer-section" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>About Gymer</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro consectetur ut hic ipsum et veritatis
                    corrupti. Itaque eius soluta optio dolorum temporibus in, atque, quos fugit sunt sit quaerat
                    dicta.</p>
            </div>

            <div class="col-md-3 ml-auto">
                <h3>Links</h3>
                <ul class="list-unstyled footer-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Meditation</a></li>
                    <li><a href="#">Gym</a></li>
                    <li><a href="#">Aerobatics</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h3>Subscribe</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt incidunt iure iusto architecto?
                    Numquam, natus?</p>
                <form action="#">
                    <div class="d-flex mb-5">
                        <input type="text" class="form-control rounded-0" placeholder="Email">
                        <input type="submit" class="btn btn-primary rounded-0" value="Subscribe">
                    </div>
                </form>
            </div>

        </div>

        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class=" pt-5">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        All rights reserved | This template is made with <i class="icon-heart"
                                                                            aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>
</body>
</html>