<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:padding="http://www.w3.org/1999/xhtml"
      xmlns:c="http://www.w3.org/1999/XSL/Transform" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-model="http://www.w3.org/1999/xhtml">

<head th:replace="/common/header.html :: head">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>


<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>



<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner"
        th:replace="/common/header.html :: header">
</header>

<div class="site-section section-2" id="classes-section">
    <div class="site-section bg-dark" id="contact-section" >
        <div class="container" >


            <div class="wrap ftco-animate" style="border:5px solid #48d494; margin-bottom: 30px;">
                <br>
                <p th:inline="text" class="float-lg-right">
                    작성일 : [[${#temporals.format(boardDto.createdDate, 'yyyy-MM-dd HH:mm')}]]
                    &nbsp; &nbsp;
                    조회수 : [[${boardDto.bcount}]] &nbsp;
                    찜수 : [[${boardDto.sumlike}]]</p>
                <div class="content" style="padding-left:8%; padding-right:8%; padding-top: 5%; padding-bottom: 10%;">
                    <!-- 글 제목 -->
                    <h1 style="text-align: center; margin-bottom: 20px;" th:text="${boardDto.title}"></h1>
                    <!-- 작성자 -->
                    <p v-bind:id="uuid" v-bind:value="[[${ boardDto.writer}]]"> asdsad</p>

                    <form th:action="@{'/post/'+${boardDto.id}}" method="POST">
                        <input type="hidden" name="board" th:value="${boardDto.id}"/>
                        <input type="hidden" name="user" th:value="${userId}"/>
                        <input type="submit" class="float-lg-left btn btn-outline-primary" value="찜하기"/>
                    </form>

                    <button class="float-lg-left btn btn-outline-primary">찜취소</button>
                    <div class="container" id="app" v-cloak>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text">방제목</label>
                            </div>
                            <input type="hidden" class="form-control" v-model="room_name" v-on:keyup.enter="createRoom">

<!--                            <h1> [[${boardDto.writer}]] &nbsp;</h1>-->
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" @click="createRoom">채팅방 개설</button>
                            </div>
                        </div>

                    </div>




<!--                    <a th:href="@{/chat/room}">asdasdas</a>-->

                    <h3 style="text-align: right; margin-right: 10px;" th:text="${boardDto.writer}"></h3>
                    <h1>[[${boardDto.id}]]</h1>
                    <hr style="border: solid 2px #48d494;">
                    <img th:src="@{/images/media/} + ${boardDto.imgname}" alt="Image" width="400px" height="400px">
                    <!-- 글 나눔선  -->
                    <hr style="border: solid 2px #48d494;">
                    <strong style="font-size: 20px">소속 회사 이름</strong>
                    <p th:inline="text">[[${boardDto.companyname}]]</p>
                    <hr style="border: solid 2px #48d494;">
                    <strong style="font-size: 20px">소속 전화번호</strong>
                    <p th:inline="text">[[${boardDto.companyphone}]]</p>
                    <hr style="border: solid 2px #48d494;">
                    <strong style="font-size: 20px">소속 주소</strong>
                    <p th:inline="text">[[${boardDto.address}]]</p>

                    <hr style="border: solid 2px #48d494;">
                    <strong style="font-size: 20px">내용</strong>
                    <!-- 글 내용 -->
                    <p th:utext="${boardDto.content}"></p>

                    <!-- 글 나눔선  -->
                    <hr style="border: solid 2px #48d494;">
                    <hr>
                    <div th:if="${boardDto.writer.toString().equals(userId)}" class="text-right">
                        <!-- 수정하기 -->
                        <div style="text-align: right; margin-right: 10px;">
                            <a th:href="@{'/post/edit/' + ${boardDto.id}}">
                                <button type="button" class="float-lg-right btn btn-outline-primary">수정하기</button>
                            </a>
                            <!-- 삭제하기 -->
                            <form id="delete-form" th:action="@{'/post/' + ${boardDto.id}}" method="post"><input
                                    type="hidden" name="_method" value="delete"/>
                                <button class="float-lg-right btn btn-outline-primary"
                                >삭제하기
                                </button>
                                </a></form>

                        </div>
                    </div>
                </div>


            </div>
            <!-- 변수 셋팅 -->
            <script th:inline="javascript">
                /*<![CDATA[*/
                var boardDto = /*[[${boardDto}]]*/ "";
                /*]]>*/
            </script>

            <!-- script -->
            <script th:inline="javascript" th:src="@{/js/board.js}"></script>
            </h1>
        </div>
    </div>
</div>


<footer class="footer-section" th:replace="/common/footer.html :: footer">
</footer>

<!-- .site-wrap -->

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/jquery.mb.YTPlayer.min.js"></script>
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>

<script src="js/main.js"></script>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</div>

<!--채팅 js-->
<!-- room_name : '[[${boardDto.writer}]] 님과 [[${userId}]]님의 채팅' 채팅방 이름 설정 구문  -->
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            room_name : '[[${boardDto.writer}]] 님과 [[${userId}]]님의 채팅',
            chatrooms: [
            ]
        },
        created() {
            this.findAllRoom();
        },
        methods: {
            findAllRoom: function() {
                axios.get('/chat/rooms').then(response => { this.chatrooms = response.data; });
            },
            createRoom: function() {
                if("" === this.room_name) {
                    alert("방 제목을 입력해 주십시요.");
                    return;
                } else {
                    var params = new URLSearchParams();
                    params.append("name",this.room_name);
                    axios.post('/chat/room', params)
                        .then(
                            response => {
                                alert(response.data.name+"방 개설")
                                this.room_name = '';
                                this.findAllRoom();
                                location.href="/chat/room/";
                            }
                        )
                        .catch( response => { alert("채팅방 개설에 실패하였습니다."); } );
                }
            },
            enterRoom: function(roomId, roomName) {
                localStorage.setItem('wschat.roomId',roomId);
                localStorage.setItem('wschat.roomName',roomName);
                location.href="/chat/room/enter/"+roomId;
            }
        }
    });
</script>

</body>
</html>
