<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:padding="http://www.w3.org/1999/xhtml">

<head th:replace="/common/header.html :: head">
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner"
        th:replace="/common/header.html :: header">
</header>

<div class="site-section" id="trainer-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-13 mx-auto text-center" data-aos="fade-up">

                <h1>내정보 페이지입니다.</h1>

                <img th:src="@{/images/person_1.jpg}" alt="Image" style="float:left" class="img-fluid mb-5">

                <div>

                    아이디 :[[${id}]]
                    <br>
                    전화번호:[[${phone}]]
                    <br>
                    이메일:[[${email}]]
                    <br>
                    역할 :[[${role}]]
                    <br>
                    닉네임 :[[${nicname}]]
                    <br>
                    경력 :[[${career}]]
                    <br>
                    주소 :[[${address}]]
                    <br>
                    <a href="cart.html" th:href="@{/cart}" class="nav-link btn btn-outline-primary">내가 좋아하는 게시물</a>

                </div>
                <!-- 변수 셋팅 -->
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    var userDto = /*[[${userDto}]]*/ "";
                    /*]]>*/
                </script>

                <!-- script -->
                <script th:inline="javascript" th:src="@{/js/user.js}"></script>
                </h1>

            </div>
        </div>
    </div>
</div>

<footer class="footer-section" th:replace="/common/footer.html :: footer">
</footer>

<!-- .site-wrap -->

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/jquery.mb.YTPlayer.min.js"></script>


<script src="js/main.js"></script>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</body>
</html>
